.moveable-line {
	background-color: var(--color-green-600) !important;
}

.moveable-control {
	background: var(--color-gray-100) !important; /* Оранжевый фон */
	border-radius: 2px !important; /* Квадратная форма вместо круглой */
	border: 1px solid var(--color-green-600) !important;
}

.moveable-size-value {
	font-size: inherit !important;
	color: inherit !important;
}

.moveable-control.moveable-origin {
	background: var(--color-gray-100) !important;
	border-radius: 50% !important; /* Круглая форма для центра */
}